.product-img {
    width: 40%
}

.text-container {
    width: 40%;
  }
  
  .text-container h1 { 
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .star-container img {
      width: 1rem
  }

  .star-container {
      display: flex;
  }

  .star-container p {
      color: rgb(33, 145, 193);
      margin-top: 1rem;
      margin-left: 0.5rem;
  }

  .about-container h4 {
      font-size: 1.15rem;
      font-weight: 700;
  }



.cart-container {
    border-radius: 1rem;
    width: 20%;
    margin-left: 2rem;
    padding: 1rem
}

.cart-container button {
    width: 100%;
    border: none;
    background-color: #F2CB6A;
    padding: 0.35rem 0;
    font-size: 0.85rem;
    margin: 0.25rem 0
}

.price {
    color: rgb(141, 6, 6);

}

.delivery-time {
    padding-bottom: 4rem;
}

.buy-now-btn {
    margin-top: 1rem;
}


.rating-stock-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}